<!-- login page -->
<!--[if IE 7]>
    <style>
    <link type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    </style>
<![endif]-->

<div class="container">
<p></p>
	<div class ="jumbotron">
	  <h1>Movie room</h1>
	  <p>Welcome to movie room. The place where you can watch movies and chat with friends ! </p> 
		
  	  <input class="form-control" name="username" style="width:50%" type="text" placeholder="Username"/>
  	  <input class="form-control" name="password" style="width:50%" type="password" placeholder="Password"/>
  	  
	  <button class="btn btn-primary">Login</button>
	  <button class="btn btn-primary">Create Account</button>
	</div>
</div>

